<a href="https://colab.research.google.com/github/Je-Hyeon/Je-Hyeon/blob/main/DataAnalysis%EC%B1%85_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

# 7장: Data Cleaning and Preparation

## dropna()

In [ ]:
data = pd.DataFrame([[1.,6.5,3.],[1., np.nan, np.nan],
                    [np.nan,np.nan, np.nan],[np.nan, 6.5,3.]])
print(data)

cleaned = data.dropna()
cleaned 
# dropna는 row를 기준으로 NaN이 하나라도 있는 열을 모두 드랍한다

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0

In [ ]:
# 인수 how='all'을 주면, row의 모든 성분이 NaN인 row를 drop한다
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
# dropna에 axis를 주어줄 수 있음
data[4] = np.nan
print(data)

data.dropna(axis=1, how='all')

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
# dropna에 thresh 인수를 주어주기
df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = np.nan
df.iloc[:2,2] = np.nan

df

          0         1         2
0 -0.926593       NaN       NaN
1 -0.727382       NaN       NaN
2  0.199551       NaN -0.147479
3 -1.458912       NaN -1.399839
4 -1.145097 -0.797122  0.849768
5  0.018182 -1.215962 -0.355062
6 -0.606041 -1.500399  0.844517

In [ ]:
# thresh(문지방)을 주어주면 숫자 이상 NaN이 존재해야 drop한다
df.dropna(thresh=2)

          0         1         2
2  0.199551       NaN -0.147479
3 -1.458912       NaN -1.399839
4 -1.145097 -0.797122  0.849768
5  0.018182 -1.215962 -0.355062
6 -0.606041 -1.500399  0.844517

## fillna()

In [ ]:
df

          0         1         2
0 -0.926593       NaN       NaN
1 -0.727382       NaN       NaN
2  0.199551       NaN -0.147479
3 -1.458912       NaN -1.399839
4 -1.145097 -0.797122  0.849768
5  0.018182 -1.215962 -0.355062
6 -0.606041 -1.500399  0.844517

In [ ]:
# fillna에 딕셔너리 인수를 주어주면, 각 column에 원하는 값을 주어줄 수 있다.
# 딕셔너리 앞의 수는 해당하는 "Column"을 가르킨다!!
df.fillna({1:10, 2:20})

          0          1          2
0 -0.926593  10.000000  20.000000
1 -0.727382  10.000000  20.000000
2  0.199551  10.000000  -0.147479
3 -1.458912  10.000000  -1.399839
4 -1.145097  -0.797122   0.849768
5  0.018182  -1.215962  -0.355062
6 -0.606041  -1.500399   0.844517

## Duplicate 처리

* duplicated(), drop_duplicates()

In [ ]:
data = pd.DataFrame({'k1':['one','two']*3 + ['two'],
                     'k2':[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
# 겹치는게 있는지 duplicated로 확인해보기   -> 쓰임새는 별로 없을 듯

data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
# 중요한건 drop_duplicates() 를 사용하는 것 

data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
# 특정한 Column만 겹치는 지 고려할 수 있다

data.drop_duplicates(['k1'])

    k1  k2
0  one   1
1  two   1

In [ ]:
# 기본으로 뒤에 등장하는 데이터를 버리는데, 앞에 오는 데이터를 버릴 수도 있다.
# keep last -> 마지막에 오는 걸 keep 해!
data.drop_duplicates(keep='last')

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4

## map함수 사용

map에서 가장 중요한 것은 '딕셔너리'나 '함수' 인수를 받는다는 것이다

* replace와 비슷한 느낌이 있긴한데 용도는 다름, replace는 워낙 잘 아는 거라 설명을 하진 않음

In [ ]:
data = pd.DataFrame({'food':['bacon','pulled pork', 'bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                     'ounces': [4,3,12,6,7.5,8,3,5,6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [ ]:
# 각 고기가 어느 가축에서 나왔는지 매칭해보자 -> map 함수를 사용하면 된다.

meat_map = {'bacon':'pig', 'pulled pork':'pig', 'pastrami':'cow','honey ham':'pig','nova lox':'salmon' , 'corned beef' : 'cow'}

# 약간의 문제 : 원본 데이터에는 대문자와 소문자 둘다 있음

data['animal'] = data['food'].str.lower().map(meat_map)

data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [ ]:
# axis에 map 함수 사용 

data = pd.DataFrame(np.arange(12).reshape((3,4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns= ['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
# 여기서는 딕셔너리가 아닌 함수 인수를 받았음
data.index.map(lambda x: x[:3].upper())

Index(['OHI', 'COL', 'NEW'], dtype='object')

In [ ]:
# columns를 map을 이용해서 한번 바뀌봤음

data.columns = data.columns.map(lambda x: x.upper())
data

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

## cut() 함수

* cut으로 구간을 나누면 데이터는 카테고리컬 데이터가 된다

* quantile로 자르는 qcut도 있음 -> qcut은 각 구간별로 데이터 개수가 같다는 특징이 있음

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]
bins = [18,25,35,60,100]

# cut(자를 대상, 나눌 거)
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
# cut할때 label을 바로 주어줄 수 있다.
label = ['Youth' , 'YoungAdult', 'MiddleAged' , 'Senior']

cats = pd.cut(ages, bins, labels = label)

cats.value_counts()

Youth         5
YoungAdult    3
MiddleAged    3
Senior        1
dtype: int64

In [ ]:
# cut할 bins를 정수값으로 주어줄 수 있다. -> bins의 개수를 의미

data = np.random.randn(20) 

cat3 = pd.cut(data, 4)
cat3.value_counts()

(-2.306, -1.026]    4
(-1.026, 0.248]     9
(0.248, 1.522]      5
(1.522, 2.796]      2
dtype: int64

In [ ]:
data = np.random.randn(1000)

qcat = pd.qcut(data, 5)
qcat.value_counts()

(-2.999, -0.854]    200
(-0.854, -0.228]    200
(-0.228, 0.299]     200
(0.299, 0.797]      200
(0.797, 2.769]      200
dtype: int64

## Permutation()

* x : int or array_like
    If `x` is an integer, randomly permute ``np.arange(x)``.
    If `x` is an array, make a copy and shuffle the elements
    randomly.

* Permutation으로 랜덤한 수열을 만들어 놓고, take 함수를 사용해서 랜덤 추출을 할 수 있다

In [ ]:
# permutation을 알아보자 

print(np.random.permutation(5))

print(np.random.permutation([1,2,3,4,5,6,7,8,9]))

[2 0 4 3 1]
[6 5 2 9 3 4 8 7 1]

In [ ]:
df = pd.DataFrame(np.arange(20).reshape((5,4)))

df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
# permutation으로 만들어 놓고, take을 이용해서 그것으로 랜덤한 df를 추출할 수 있다.

a = np.random.permutation(5)
df.take(a)

    0   1   2   3
4  16  17  18  19
3  12  13  14  15
1   4   5   6   7
0   0   1   2   3
2   8   9  10  11

## sample() 함수

In [ ]:
# 데이터프레임에서 sample 함수를 사용해서 랜덤 추출을 할 수 있다 

df.sample(n=3)

    0   1   2   3
1   4   5   6   7
2   8   9  10  11
4  16  17  18  19

In [ ]:
# replace = True를 주면 복원 추출을 할 수 있다.

df.sample(n=5 , replace= True)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
1   4   5   6   7
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
2   8   9  10  11

## 더미변수 사용

* pd.get_dummies()

* drop_first = True를 주면 통계를 위한 더미변수 출력(n-1개의 더미변수)

In [ ]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],
                   'data':range(6)})

pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [ ]:
# cut으로 자른 데이터는 카테고리 데이터가 된다. 그것을 더미변수로 만들어 보자
values = np.random.rand(10)

bins = [0,0.2,0.4,0.6,0.8,1]

pd.get_dummies(pd.cut(values ,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           1           0           0           0
1           0           0           1           0           0
2           0           0           0           0           1
3           0           0           1           0           0
4           0           0           1           0           0
5           1           0           0           0           0
6           0           0           0           1           0
7           1           0           0           0           0
8           0           0           1           0           0
9           0           0           1           0           0

## 문자열 처리(str)

* str로 접근

* str.contains()

In [ ]:
data = pd.Series({'Dave':'dave@naver.com', 'Steve':'steve@gmail.com','Rob':'rob@gmail.com' , 'Wes':np.nan})

data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [ ]:
# 판다스 내부 문자열에 접근할 때는 항상 str을 붙여준다
data.str[:4]

Dave     dave
Steve    stev
Rob      rob@
Wes       NaN
dtype: object

In [ ]:
# contains()로 특정 문자열을 가지고 있는 지 질의할 수 있다.

data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

# 8장: Data Wrangling

## multiindex 다루기

* inner level slicing

* slicing

### multiindex 슬라이싱

In [ ]:
# 멀티인덱스 만들어 보기  -> list of list로 인덱스를 만들어 주면 된다

data = pd.Series(np.random.randn(9),
          index=[['a','a','a','b','b','c','c','d','d'], [1,2,3,1,3,1,2,2,3]])
data

a  1   -1.670702
   2    1.034795
   3   -0.289567
b  1   -0.124645
   3   -0.942596
c  1    0.471596
   2   -0.499786
d  2   -1.005295
   3   -0.324468
dtype: float64

In [ ]:
# inner level 슬라이싱 -> loc로 접근해야 한다.
data.loc[:,2]

a    1.034795
c   -0.499786
d   -1.005295
dtype: float64

In [ ]:
# 지정해서 여러개 열을 뽑으려면 list of list로 구성해야 한다
data[['a','c']]

a  1   -1.670702
   2    1.034795
   3   -0.289567
c  1    0.471596
   2   -0.499786
dtype: float64

### 인덱스의 이름

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(4,3), 
                     index=[['a','a','b','b'], [1,2]*2],
                     columns= [['Ohio', 'Ohio' ,'Colorado'], ['Green' , 'Red' , 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [ ]:
# 인덱스 자체에 이름 주어주기

frame.index.names = ['key1', 'key2']
frame.columns.names = ['state','color']

frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

### swaplevel, sort_index

* swaplevel을 해주고, sort_level 해주는 게 국룰이래

* 인덱스 자체의 이름을 주어주던가, level을 기준으로 접근 할 수도 있다.

In [ ]:
# 인덱스 자체의 이름을 주어주고 할 수 있다.

frame.swaplevel('key1' ,'key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [ ]:
# 이번엔 level을 기준으로 했다.

frame.swaplevel(1,0, axis=1)

color     Green  Red    Green
state      Ohio Ohio Colorado
key1 key2
a    1        0    1        2
     2        3    4        5
b    1        6    7        8
     2        9   10       11

In [ ]:
frame.swaplevel(1,0).sort_index()

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

## merge

* pd.merge(df1, df2) 
* merge 하는 기준(column)의 이름이 양 df에 동일하면 on= 로 주어주면 된다. on은 꼭 사용하지 않아도 알아서 merge한다.

* merge의 기준이 되는 양쪽의 columns의 이름이 다른 경우, left_on, right_on 을 사용한다

* 인덱스가 merge의 기준인 경우 left_index=True or right_index = True를 사용한다

* 즉, 한쪽은 left_index=True, 다른쪽은 right_on 이 될 수도 있다